@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

/* Apply Quicksand to all text */
body {
  @apply font-quicksand;
  font-family: 'Quicksand', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}
